<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sundsvalls kommun hörnassistent</title>
    <style>
      html {
        background-color: white;
      }


    </style>
  </head>

  <body class="test">
  
      <script type="module" src="/src/main.tsx"></script>

      <div
        class="sk-service-assistant"
        data-user=""
        data-hash=""
        data-assistant=""
      ></div> 

  </body>
</html>
