<div class="panel-group" id="editorial">
  <h2><%= i18n('editorial') %></h2>
  <div class="panel panel-default">
    <a
      class="panel-heading"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-headers"
      data-parent="#editorial"
    >
      <h3 class="panel-title"><%= i18n('headings') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-headers">
      <div class="panel-body">
        <div class="form-group">
          <label><%= i18n('heading') %></label>
          <input class="form-control" name="title" />
        </div>
        <div class="form-group">
          <label><%= i18n('subheading') %></label>
          <input class="form-control" name="subtitle" />
        </div>
        <div class="form-group">
          <label><%= i18n('label') %></label>
          <input class="form-control" name="label" />
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-readmore"
      data-parent="#editorial"
    >
      <h3 class="panel-title"><%= i18n('read_more') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-readmore">
      <div class="panel-body">
        <div class="form-group">
          <label><%= i18n('text') %></label>
          <input class="form-control" name="read_more_text" />
        </div>
        <div class="form-group">
          <label><%= i18n('link_text') %></label>
          <input class="form-control" name="read_more_link_text" />
        </div>
        <div class="form-group">
          <label><%= i18n('link_url') %></label>
          <input class="form-control" name="read_more_link_url" />
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#pre-defined-question-panel"
      data-parent="#editorial"
    >
      <h3 class="panel-title"><%= i18n('pre_defined_questions') %></h3>
    </a>
    <div class="panel-collapse" id="pre-defined-question-panel">
      <div class="panel-body">
        <div class="form-group">
          <label>
            <input
              type="checkbox"
              name="use_questions"
              data-enables="#pre-defined-questions"
              data-value-type="boolean"
            />
            <%= i18n('use_pre_defined_questions') %>
          </label>
        </div>
      </div>
      <div class="panel-body" id="pre-defined-questions">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label><%= i18n('heading') %></label>
              <input class="form-control" name="questions_title" />
            </div>
            <div class="form-group">
              <label><%= i18n('number_of_questions') %></label>
              <input
                class="form-control"
                data-component="number-spinner"
                data-min="1"
                data-max="5"
                data-step="1"
                name="questions_count"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label><%= i18n('question') %> 1</label>
              <input class="form-control" name="question_1" />
            </div>
            <div class="form-group">
              <label><%= i18n('question') %> 2</label>
              <input class="form-control" name="question_2" />
            </div>
            <div class="form-group">
              <label><%= i18n('question') %> 3</label>
              <input class="form-control" name="question_3" />
            </div>
            <div class="form-group">
              <label><%= i18n('question') %> 4</label>
              <input class="form-control" name="question_4" />
            </div>
            <div class="form-group">
              <label><%= i18n('question') %> 5</label>
              <input class="form-control" name="question_5" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="assistant-information">
  <h2><%= i18n('assistant') %></h2>
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-settings"
    >
      <h3 class="panel-title"><%= i18n('settings') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-settings">
      <div class="panel-body">
        <div class="form-group">
          <label><%= i18n('assistant_id') %></label>
          <input class="form-control" name="assistantId" />
        </div>
        <div class="form-group">
          <label><%= i18n('group_chat') %></label>
          <input
            type="checkbox"
            data-value-type="boolean"
            name="is_group_chat"
          />
        </div>
        <div class="form-group">
          <label><%= i18n('app') %></label>
          <input class="form-control" name="app" />
        </div>
        <div class="form-group">
          <label
            ><input
              type="checkbox"
              name="remember_session"
              data-value-type="boolean"
            />
            <%= i18n('remember_session') %>
          </label>
        </div>
        <div class="form-group">
          <label><%= i18n('app_session_id') %></label>
          <input class="form-control" name="app_session_id" />
        </div>
      </div>
    </div>
  </div>
  <!-- ASSISTANT INFORMATION -->
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-info"
      data-parent="#assistant-information"
    >
      <h3 class="panel-title"><%= i18n('assistant_info') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-info">
      <div class="panel-body">
        <div class="form-group">
          <label><%= i18n('name') %></label>
          <input class="form-control" name="assistant_name" />
        </div>
        <div class="form-group">
          <label><%= i18n('avatar') %></label>
          <input
            class="form-control"
            data-component="image-selector"
            data-removable
            name="assistant_avatar"
          />
        </div>
        <div class="form-group">
          <label><%= i18n('initials') %></label>
          <input
            class="form-control"
            name="assistant_shortName"
            maxlength="2"
          />
        </div>
        <div class="form-group">
          <label><%= i18n('avatar_color') %></label>
          <select name="assistant_avatar_color" class="form-control">
            <option value="vattjom">Vattjom</option>
            <option value="juniskar">Juniskär</option>
            <option value="bjornstigen">Björnstigen</option>
            <option value="gronsta">Grönsta</option>
          </select>
        </div>
        <div class="form-group">
          <label
            ><input
              type="checkbox"
              name="assistant_show_title"
              data-value-type="boolean"
            />
            <%= i18n('show_name_in_feed') %></label
          >
        </div>
      </div>
    </div>
  </div>

  <!-- USER INFORMATION -->
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#user-info"
      data-parent="#assistant-information"
    >
      <h3 class="panel-title"><%= i18n('user_info') %></h3>
    </a>
    <div class="panel-collapse" id="user-info">
      <div class="panel-body">
        <p><%= i18n('user_info_description') %></p>
        <div class="form-group">
          <label><%= i18n('name') %></label>
          <input class="form-control" name="user_name" />
        </div>

        <div class="form-group">
          <label><%= i18n('avatar') %></label>
          <input
            class="form-control"
            data-component="image-selector"
            data-removable
            name="user_avatar"
          />
        </div>
        <div class="form-group">
          <label><%= i18n('initials') %></label>
          <input class="form-control" name="user_initials" maxlength="2" />
        </div>
        <div class="form-group">
          <label><%= i18n('avatar_color') %></label>
          <select name="user_avatar_color" class="form-control">
            <option value="vattjom">Vattjom</option>
            <option value="juniskar">Juniskär</option>
            <option value="bjornstigen">Björnstigen</option>
            <option value="gronsta">Grönsta</option>
          </select>
        </div>
        <div class="form-group">
          <label
            ><input
              type="checkbox"
              name="user_show_title"
              data-value-type="boolean"
            />
            <%= i18n('show_name_in_feed') %></label
          >
        </div>
      </div>
    </div>
  </div>

  <!-- SYSTEM INFORMATION -->
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#system-info"
      data-parent="#assistant-information"
    >
      <h3 class="panel-title"><%= i18n('system_info') %></h3>
    </a>
    <div class="panel-collapse" id="system-info">
      <div class="panel-body">
        <p><strong><%= i18n('system_info_description') %></strong></p>

        <fieldset class="form-group">
          <label>
            <input type="radio" name="system_show" value="assistant" />
            <%= i18n('system_show_as_assistant') %>
          </label>
          <label>
            <input
              type="radio"
              data-enables="#system-custom-setup"
              name="system_show"
              value="custom"
            />
            <%= i18n('system_show_as_custom') %>
          </label>
        </fieldset>

        <div id="system-custom-setup">
          <div class="form-group">
            <label><%= i18n('name') %></label>
            <input class="form-control" name="system_name" />
          </div>

          <div class="form-group">
            <label><%= i18n('avatar') %></label>
            <input
              class="form-control"
              data-component="image-selector"
              data-removable
              name="system_avatar"
            />
          </div>
          <div class="form-group">
            <label><%= i18n('initials') %></label>
            <input class="form-control" name="system_initials" maxlength="2" />
          </div>
          <div class="form-group">
            <label><%= i18n('avatar_color') %></label>
            <select name="system_avatar_color" class="form-control">
              <option value="vattjom">Vattjom</option>
              <option value="juniskar">Juniskär</option>
              <option value="bjornstigen">Björnstigen</option>
              <option value="gronsta">Grönsta</option>
            </select>
          </div>
          <div class="form-group">
            <label
              ><input
                type="checkbox"
                name="system_show_title"
                data-value-type="boolean"
              />
              <%= i18n('show_name_in_feed') %></label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <fieldset class="form-group">
    <legend><%= i18n('version') %></legend>
    <label>
      <input type="radio" name="version" value="1" />
      <%= i18n('primary') %>
    </label>
    <label>
      <input type="radio" name="version" value="2" />
      <%= i18n('secondary') %>
    </label>
  </fieldset>
</div>
