<div class="panel-group" id="editorial" data-accordion>
  <h2><%= i18n('editorial') %></h2>
  <div class="panel panel-default">
    <a
      class="panel-heading"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-headers"
      data-parent="#editorial"
    >
      <h3 class="panel-title"><%= i18n('headings') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-headers">
      <div class="panel-body">
        <div class="form-group" data-metadata-field>
          <label><%= i18n('heading') %></label>
          <input class="form-control" name="title" data-metadata-manual />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="title__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="title__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label for="heading-level"><%= i18n('heading_level') %></label>
          <select
            class="form-control"
            id="heading-level"
            name="heading_level"
            data-metadata-manual
          >
            <option value="h1">h1</option>
            <option value="h2" selected>h2</option>
            <option value="h3">h3</option>
            <option value="h4">h4</option>
            <option value="h5">h5</option>
            <option value="h6">h6</option>
          </select>
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="heading_level__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="heading_level__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('subheading') %></label>
          <input class="form-control" name="subtitle" data-metadata-manual />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="subtitle__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="subtitle__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('label') %></label>
          <input class="form-control" name="label" data-metadata-manual />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="label__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="label__metadata"
              ></select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-readmore"
      data-parent="#editorial"
    >
      <h3 class="panel-title"><%= i18n('read_more') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-readmore">
      <div class="panel-body">
        <div class="form-group" data-metadata-field>
          <label><%= i18n('text') %></label>
          <input
            class="form-control"
            name="read_more_text"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="read_more_text__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="read_more_text__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('link_text') %></label>
          <input
            class="form-control"
            name="read_more_link_text"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="read_more_link_text__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="read_more_link_text__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('link_url') %></label>
          <input
            class="form-control"
            name="read_more_link_url"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="read_more_link_url__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="read_more_link_url__metadata"
              ></select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#pre-defined-question-panel"
      data-parent="#editorial"
    >
      <h3 class="panel-title"><%= i18n('pre_defined_questions') %></h3>
    </a>
    <div class="panel-collapse" id="pre-defined-question-panel">
      <div class="panel-body">
        <div class="form-group" data-metadata-field>
          <label data-metadata-manual>
            <input
              type="checkbox"
              name="use_questions"
              data-enables="#pre-defined-questions"
              data-value-type="boolean"
            />
            <%= i18n('use_pre_defined_questions') %>
          </label>
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="use_questions__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="use_questions__metadata"
              ></select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body" id="pre-defined-questions">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group" data-metadata-field>
              <label><%= i18n('heading') %></label>
              <input
                class="form-control"
                name="questions_title"
                data-metadata-manual
              />
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    name="questions_title__useMetadata"
                    data-value-type="boolean"
                    data-metadata-toggle
                  />
                  <%= i18n('use_metadata') %>
                </label>
                <div data-metadata-selector-container>
                  <select
                    data-component="metadata-selector"
                    name="questions_title__metadata"
                  ></select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label><%= i18n('number_of_questions') %></label>
              <input
                class="form-control"
                data-component="number-spinner"
                data-min="1"
                data-max="5"
                data-step="1"
                name="questions_count"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" data-metadata-field>
              <label><%= i18n('question') %> 1</label>
              <input
                class="form-control"
                name="question_1"
                data-metadata-manual
              />
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    name="question_1__useMetadata"
                    data-value-type="boolean"
                    data-metadata-toggle
                  />
                  <%= i18n('use_metadata') %>
                </label>
                <div data-metadata-selector-container>
                  <select
                    data-component="metadata-selector"
                    name="question_1__metadata"
                  ></select>
                </div>
              </div>
            </div>
            <div class="form-group" data-metadata-field>
              <label><%= i18n('question') %> 2</label>
              <input
                class="form-control"
                name="question_2"
                data-metadata-manual
              />
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    name="question_2__useMetadata"
                    data-value-type="boolean"
                    data-metadata-toggle
                  />
                  <%= i18n('use_metadata') %>
                </label>
                <div data-metadata-selector-container>
                  <select
                    data-component="metadata-selector"
                    name="question_2__metadata"
                  ></select>
                </div>
              </div>
            </div>
            <div class="form-group" data-metadata-field>
              <label><%= i18n('question') %> 3</label>
              <input
                class="form-control"
                name="question_3"
                data-metadata-manual
              />
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    name="question_3__useMetadata"
                    data-value-type="boolean"
                    data-metadata-toggle
                  />
                  <%= i18n('use_metadata') %>
                </label>
                <div data-metadata-selector-container>
                  <select
                    data-component="metadata-selector"
                    name="question_3__metadata"
                  ></select>
                </div>
              </div>
            </div>
            <div class="form-group" data-metadata-field>
              <label><%= i18n('question') %> 4</label>
              <input
                class="form-control"
                name="question_4"
                data-metadata-manual
              />
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    name="question_4__useMetadata"
                    data-value-type="boolean"
                    data-metadata-toggle
                  />
                  <%= i18n('use_metadata') %>
                </label>
                <div data-metadata-selector-container>
                  <select
                    data-component="metadata-selector"
                    name="question_4__metadata"
                  ></select>
                </div>
              </div>
            </div>
            <div class="form-group" data-metadata-field>
              <label><%= i18n('question') %> 5</label>
              <input
                class="form-control"
                name="question_5"
                data-metadata-manual
              />
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    name="question_5__useMetadata"
                    data-value-type="boolean"
                    data-metadata-toggle
                  />
                  <%= i18n('use_metadata') %>
                </label>
                <div data-metadata-selector-container>
                  <select
                    data-component="metadata-selector"
                    name="question_5__metadata"
                  ></select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="assistant-information" data-accordion>
  <h2><%= i18n('assistant') %></h2>
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-settings"
    >
      <h3 class="panel-title"><%= i18n('settings') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-settings">
      <div class="panel-body">
        <div class="form-group" data-metadata-field>
          <label><%= i18n('assistant_id') %></label>
          <input class="form-control" name="assistantId" data-metadata-manual />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="assistantId__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="assistantId__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('group_chat') %></label>
          <input
            type="checkbox"
            data-value-type="boolean"
            name="is_group_chat"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="is_group_chat__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="is_group_chat__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('app') %></label>
          <input class="form-control" name="app" data-metadata-manual />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="app__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select data-component="metadata-selector" name="app__metadata"></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label data-metadata-manual
            ><input
              type="checkbox"
              name="remember_session"
              data-value-type="boolean"
            />
            <%= i18n('remember_session') %>
          </label>
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="remember_session__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="remember_session__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label data-metadata-manual
            ><input
              type="checkbox"
              name="show_references"
              data-value-type="boolean"
            />
            <%= i18n('show_references') %>
          </label>
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="show_references__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="show_references__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('app_session_id') %></label>
          <input
            class="form-control"
            name="app_session_id"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="app_session_id__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="app_session_id__metadata"
              ></select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-info"
      data-parent="#assistant-information"
    >
      <h3 class="panel-title"><%= i18n('assistant_info') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-info">
      <div class="panel-body">
        <div class="form-group" data-metadata-field>
          <label><%= i18n('name') %></label>
          <input
            class="form-control"
            name="assistant_name"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="assistant_name__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="assistant_name__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('avatar') %></label>
          <input
            class="form-control"
            data-component="image-selector"
            data-removable
            name="assistant_avatar"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="assistant_avatar__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="assistant_avatar__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('initials') %></label>
          <input
            class="form-control"
            name="assistant_shortName"
            maxlength="2"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="assistant_shortName__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="assistant_shortName__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('avatar_color') %></label>
          <select
            name="assistant_avatar_color"
            class="form-control"
            data-metadata-manual
          >
            <option value="vattjom">Vattjom</option>
            <option value="juniskar">Juniskär</option>
            <option value="bjornstigen">Björnstigen</option>
            <option value="gronsta">Grönsta</option>
          </select>
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="assistant_avatar_color__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="assistant_avatar_color__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label data-metadata-manual
            ><input
              type="checkbox"
              name="assistant_show_title"
              data-value-type="boolean"
            />
            <%= i18n('show_name_in_feed') %></label
          >
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="assistant_show_title__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="assistant_show_title__metadata"
              ></select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#user-info"
      data-parent="#assistant-information"
    >
      <h3 class="panel-title"><%= i18n('user_info') %></h3>
    </a>
    <div class="panel-collapse" id="user-info">
      <div class="panel-body">
        <p><%= i18n('user_info_description') %></p>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('name') %></label>
          <input class="form-control" name="user_name" data-metadata-manual />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="user_name__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="user_name__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('avatar') %></label>
          <input
            class="form-control"
            data-component="image-selector"
            data-removable
            name="user_avatar"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="user_avatar__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="user_avatar__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('initials') %></label>
          <input
            class="form-control"
            name="user_initials"
            maxlength="2"
            data-metadata-manual
          />
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="user_initials__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="user_initials__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label><%= i18n('avatar_color') %></label>
          <select
            name="user_avatar_color"
            class="form-control"
            data-metadata-manual
          >
            <option value="vattjom">Vattjom</option>
            <option value="juniskar">Juniskär</option>
            <option value="bjornstigen">Björnstigen</option>
            <option value="gronsta">Grönsta</option>
          </select>
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="user_avatar_color__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="user_avatar_color__metadata"
              ></select>
            </div>
          </div>
        </div>
        <div class="form-group" data-metadata-field>
          <label data-metadata-manual
            ><input
              type="checkbox"
              name="user_show_title"
              data-value-type="boolean"
            />
            <%= i18n('show_name_in_feed') %></label
          >
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="user_show_title__useMetadata"
                data-value-type="boolean"
                data-metadata-toggle
              />
              <%= i18n('use_metadata') %>
            </label>
            <div data-metadata-selector-container>
              <select
                data-component="metadata-selector"
                name="user_show_title__metadata"
              ></select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#system-info"
      data-parent="#assistant-information"
    >
      <h3 class="panel-title"><%= i18n('system_info') %></h3>
    </a>
    <div class="panel-collapse" id="system-info">
      <div class="panel-body">
        <p><strong><%= i18n('system_info_description') %></strong></p>
        <fieldset class="form-group">
          <label>
            <input type="radio" name="system_show" value="assistant" />
            <%= i18n('system_show_as_assistant') %>
          </label>
          <label>
            <input
              type="radio"
              data-enables="#system-custom-setup"
              name="system_show"
              value="custom"
            />
            <%= i18n('system_show_as_custom') %>
          </label>
        </fieldset>
        <div id="system-custom-setup">
          <div class="form-group" data-metadata-field>
            <label><%= i18n('name') %></label>
            <input class="form-control" name="system_name" data-metadata-manual />
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  name="system_name__useMetadata"
                  data-value-type="boolean"
                  data-metadata-toggle
                />
                <%= i18n('use_metadata') %>
              </label>
              <div data-metadata-selector-container>
                <select
                  data-component="metadata-selector"
                  name="system_name__metadata"
                ></select>
              </div>
            </div>
          </div>
          <div class="form-group" data-metadata-field>
            <label><%= i18n('avatar') %></label>
            <input
              class="form-control"
              data-component="image-selector"
              data-removable
              name="system_avatar"
              data-metadata-manual
            />
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  name="system_avatar__useMetadata"
                  data-value-type="boolean"
                  data-metadata-toggle
                />
                <%= i18n('use_metadata') %>
              </label>
              <div data-metadata-selector-container>
                <select
                  data-component="metadata-selector"
                  name="system_avatar__metadata"
                ></select>
              </div>
            </div>
          </div>
          <div class="form-group" data-metadata-field>
            <label><%= i18n('initials') %></label>
            <input
              class="form-control"
              name="system_initials"
              maxlength="2"
              data-metadata-manual
            />
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  name="system_initials__useMetadata"
                  data-value-type="boolean"
                  data-metadata-toggle
                />
                <%= i18n('use_metadata') %>
              </label>
              <div data-metadata-selector-container>
                <select
                  data-component="metadata-selector"
                  name="system_initials__metadata"
                ></select>
              </div>
            </div>
          </div>
          <div class="form-group" data-metadata-field>
            <label><%= i18n('avatar_color') %></label>
            <select
              name="system_avatar_color"
              class="form-control"
              data-metadata-manual
            >
              <option value="vattjom">Vattjom</option>
              <option value="juniskar">Juniskär</option>
              <option value="bjornstigen">Björnstigen</option>
              <option value="gronsta">Grönsta</option>
            </select>
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  name="system_avatar_color__useMetadata"
                  data-value-type="boolean"
                  data-metadata-toggle
                />
                <%= i18n('use_metadata') %>
              </label>
              <div data-metadata-selector-container>
                <select
                  data-component="metadata-selector"
                  name="system_avatar_color__metadata"
                ></select>
              </div>
            </div>
          </div>
          <div class="form-group" data-metadata-field>
            <label data-metadata-manual
              ><input
                type="checkbox"
                name="system_show_title"
                data-value-type="boolean"
              />
              <%= i18n('show_name_in_feed') %></label
            >
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  name="system_show_title__useMetadata"
                  data-value-type="boolean"
                  data-metadata-toggle
                />
                <%= i18n('use_metadata') %>
              </label>
              <div data-metadata-selector-container>
                <select
                  data-component="metadata-selector"
                  name="system_show_title__metadata"
                ></select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <fieldset class="form-group">
    <legend><%= i18n('version') %></legend>
    <label>
      <input type="radio" name="version" value="1" />
      <%= i18n('primary') %>
    </label>
    <label>
      <input type="radio" name="version" value="2" />
      <%= i18n('secondary') %>
    </label>
  </fieldset>
</div>
